body{background-color: orange;}
img{
    width: 300px;
    height: 300px;
}

.cabecalho{
    background-color: azure;
}
.lista_cabecalho{
    display: flex;
    margin-left: 260px;
}
.item_lista_cabecalho{
    color: blue;
    list-style: none;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px;
}
.lugares{
    border: 4px solid blue;
}
